.state-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 70px;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.deactivate{
    background: #9E005D;
}

.activate{
    background: #148567;
}