.state-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 70px;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.deactivate{
    background: rgb(248, 166, 166);
}

.activate{
    background: rgb(154, 154, 246);
}