.fusion-chart-container{
    display: flex;
    justify-content: center;
    background: white;
    width:100%;
    padding: 20px 0px;
    /* height: 100%; */
}

.accordion-container{
    display: flex;
    background: white;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0px;
}
.accordion-menu{
    width: 95%;
}