.sidebar{
    flex: 0 0 200px;
    /* background: white; */
    /* box-shadow: inset 2px 7px 2px #e8e4e4; */
    padding-left:5px;
    padding-right: 2px;
    overflow: hidden;
    transition: 1s linear all;
    min-height: calc(100vh - 85px);
    background: #3F0E40;
    border-top: 1px solid #988498;
}


.outlet{
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    position: relative;
    top: 86px;
    background: white;
    
}


.child{
    flex: 0 0 calc(100% - 220px);
    margin: 30px 0;
    /* background: white; */
    border-radius: 5px;
    box-shadow: inset 2px 2px  5px #e8e4e4;
    transition: 1s linear all;
}

.sidebar.minibar {
    flex: 0 0 67px;
}

.child.minibar{
    flex: 0 0 calc(100% - 83px);
    

} 

.extend-menu{
    display: block;
    cursor: pointer;
    font-size: 30px;
    padding-bottom: 13px;
    padding-left: 15px;
    color: #988498;

}

.extend-menu.minibar {
    padding-left: 15px;
}

.extend-menu.active{
    display: none;
}