.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    text-align: center;

  
}
.menu-item-container{
    transition: 0.6s linear all;
    text-align: left;
    padding: 10px 30px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 0px 17px;
    text-decoration: none;
    color: grey;
}

.menu-item-container.minibar{
    gap: 0 20px;
    padding-left: 20px;
}

.menu-item-container.active{
    transform: scale(1.05) !important;
    background: #cdf5fd !important;
    border-radius: 5px !important;
    color: blue !important;
}

.menu-item-container.active .icon{
    color: blue;
}


.menu-item-container:hover{
    transform: scale(1.05);
    background: #eefcfe;
    border-radius: 5px;
}
.menu-item-container:hover .icon{
    color: blue;
}


.icon{
    font-size: 14px;
    color: grey;
}

.icon.minibar{
    font-size: 18px;
}