.table-container{
    /* padding: 30px 30px 20px 30px; */
    padding-left: 30px;
    padding-right: 30px;
}

.create-user{
    border: none;
    background: rgb(117, 117, 238);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 10px 20px;
    position: relative;
    top: 45px;
    padding-right: 28px;

}

.delete-button{
    background: transparent;
    border: none;
    color: grey;
    cursor: pointer;
    font-size: 18px;
}

.close-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px !important;
    padding: 0 !important;
    position: relative !important;
    top: -15px;
    left: 390px;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
    z-index: 100;
    font-size: 24px!important;
    padding-bottom: 2.5px !important
}


