.section-center{
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;


}
.navbar-center{
    background: white;
    box-shadow: 2px 2px 2px 5px #e8e4e4;
    position: fixed;
    width: 100vw;
    z-index: 100;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    
}

.main-container{
    height:calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 70px;
    padding-left: 25px;
}

.logo-img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-logout-container{
    background: blue;
    color: white;
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    gap: 0 5px;
    cursor: pointer;
    width: 108px;
    line-height: 1px;
}
.loged-user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    gap: 0 3px;
    font-weight: 400;
    font-size: 14px;
}

.user-logout-container p{
    margin-bottom: 0;
}
.logout-container{
    display: flex;
    align-items: center;
    position: absolute;
    background:white;
    left: 0px;
    width: 108px;
    height: 0px;
    overflow: hidden;
    transition: 0.5s linear all;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 32px;
}

.logout-button{
    border: none;
    background: inherit;
    color:blue;
    line-height: 30px;
    font-weight: 500;
    font-size: 14px;
    width: 100%
}

.logout-button:hover{
    /* transform: scale(1.05); */
    background: #cdf5fd;
    color: blue
    /* border-radius: 5px; */
}

.logout-container.active{
    height: 40px;
}



.user-icon{
    font-weight: 600;
    font-size: 16px;
    
}
