.section-center{
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;


}
.navbar-center{
    background: white;
    box-shadow: 2px 2px 2px 5px #e8e4e4;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
}

.main-container{
    height:calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 70px;
    padding-left: 25px;
}

.logo-img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-logout-container{
    background: blue;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3px 10px;
    gap: 0 5px;
    cursor: pointer;
}
.user-logout-container p{
    margin-bottom: 0;
}

.logout-button{
    border: none;
    background: rgb(86, 86, 119);
    color: white;
    padding: 3px 32px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    visibility: hidden;
}

.logout-button.active{
    visibility: visible;
    top: 35px;
}

.user-icon{
    font-weight: 600;
    font-size: 16px;
    
}
