.form-container{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    /* height: 400px; */
    padding: 70px 50px;
    /* padding-bottom:30px ; */
    width: 400px;
    border-radius: 5px;

}

.form-title{
    display: flex;
    align-items: center;
    flex: 0 0 100px;
}

.spinner-container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    z-index: 101;
}

.submit-button{
    width: 100%;
}