@import-normalize; 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F2F2;
  padding: 0;
  box-sizing: border-box;
  list-style-type:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-container{
    display: flex;
    flex-direction: column;
    background: white;
}
.table-title{
    margin-bottom: 30px;
}

.category-button{
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background: blue;
    color: white;
    font-size: 12px;
}

.category-button:hover{
    background: rgb(49, 49, 245);
}