@import-normalize; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F2F2;
  padding: 0;
  box-sizing: border-box;
  list-style-type:none;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-container{
    display: flex;
    flex-direction: column;
    background: white;
}

.table-container.main-table {
  min-height: 400px;
}

.table-title{
    margin-bottom: 30px;
}

.action-column{
  /* border-left: 1px solid rgb(202, 199, 199); */
  padding-left: 15px !important;
}

th{
  padding-right: 0px !important;
}


.state-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.category-button{
    position: relative;
    border: none;
    border-radius: 5px;
    padding: 6px 6px;
    background: blue;
    color: white;
    font-size: 12px;
    width: 120px;
}

.category-button:hover{
    background: rgb(49, 49, 245);
}

.last-icon{
width: 0px !important;
/* padding-right: 8px !important; */
}

.not-last-icon{
width: 0px !important;
/* padding-right: 0px !important; */
}

.detail-icon{
  color: blue;
  font-size: 18px;
  cursor: pointer;
}

/* detail modal component style */
.detail-info-container{
  padding-left:20px;
}
.modal-header{
  padding-left: 33px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.defail-info-row{
  display: flex;
  width: 100%;
  padding: 15px 0px;
  border-bottom: 1px dotted rgb(87, 87, 244);
}

.detail-name-col{
  flex: 0 0 120px;
  font-size: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.detail-value-col{
  flex: 1 0 auto;
  font-weight: 300;
  font-size: 15px;

}

